<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>wechat.Hello</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ksser</servlet-name>
    <servlet-class>Servlet.ksser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Ksbmservlet</servlet-name>
    <servlet-class>Servlet.Ksbmservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>Servlet.AddFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>Servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFriendinfo</servlet-name>
    <servlet-class>Servlet.GetFriendinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>yspb</servlet-name>
    <servlet-class>Servlet.yspb</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>yyghservlet</servlet-name>
    <servlet-class>Servlet.yyghservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deletefriend</servlet-name>
    <servlet-class>Servlet.deletefriend</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getuserRecord</servlet-name>
    <servlet-class>Servlet.getuserRecord</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userzyfymx</servlet-name>
    <servlet-class>Servlet.userzyfymx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Lisreport</servlet-name>
    <servlet-class>Servlet.Lisreport</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RisReport</servlet-name>
    <servlet-class>Servlet.RisReport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendInfo</servlet-name>
    <servlet-class>Servlet.FriendInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FreindsYyinfo</servlet-name>
    <servlet-class>Servlet.FreindsYyinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Mzzycf</servlet-name>
    <servlet-class>Servlet.Mzzycf</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updatefriend</servlet-name>
    <servlet-class>Servlet.updatefriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getbrmzfyServlet</servlet-name>
    <servlet-class>Servlet.getbrmzfyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateyyghservlet</servlet-name>
    <servlet-class>Servlet.updateyyghservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mzyjfyservlet</servlet-name>
    <servlet-class>Servlet.mzyjfyservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hismzzfsql</servlet-name>
    <servlet-class>Servlet.hismzzfsql</servlet-class>
  </servlet>
  <listener>
    <listener-class>Timer.MyTimerListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>ksser</servlet-name>
    <url-pattern>/kssr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/weixin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ksbmservlet</servlet-name>
    <url-pattern>/Ksbmservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFriendinfo</servlet-name>
    <url-pattern>/GetFriendinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>yspb</servlet-name>
    <url-pattern>/yspb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>yyghservlet</servlet-name>
    <url-pattern>/yyghservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletefriend</servlet-name>
    <url-pattern>/deletefriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getuserRecord</servlet-name>
    <url-pattern>/getuserRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userzyfymx</servlet-name>
    <url-pattern>/userzyfymx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lisreport</servlet-name>
    <url-pattern>/Lisreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RisReport</servlet-name>
    <url-pattern>/RisReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendInfo</servlet-name>
    <url-pattern>/FriendInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FreindsYyinfo</servlet-name>
    <url-pattern>/FreindsYyinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mzzycf</servlet-name>
    <url-pattern>/Mzzycf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatefriend</servlet-name>
    <url-pattern>/updatefriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getbrmzfyServlet</servlet-name>
    <url-pattern>/getbrmzfyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateyyghservlet</servlet-name>
    <url-pattern>/updateyyghservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mzyjfyservlet</servlet-name>
    <url-pattern>/mzyjfyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hismzzfsql</servlet-name>
    <url-pattern>/hismzzfsql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yyghcxservlet</display-name>
    <servlet-name>yyghcxservlet</servlet-name>
    <servlet-class>Servlet.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yyghcxservlet</servlet-name>
    <url-pattern>/yyghcxservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>globalconfigservlet</display-name>
    <servlet-name>globalconfigservlet</servlet-name>
    <servlet-class>Servlet.globalconfigservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>globalconfigservlet</servlet-name>
    <url-pattern>/globalconfigservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>currencyservlet</display-name>
    <servlet-name>currencyservlet</servlet-name>
    <servlet-class>platform.currencyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>currencyservlet</servlet-name>
    <url-pattern>/currencyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>platformservlet</display-name>
    <servlet-name>platformservlet</servlet-name>
    <servlet-class>platform.platformservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>platformservlet</servlet-name>
    <url-pattern>/platformservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ksxx</display-name>
    <servlet-name>ksxx</servlet-name>
    <servlet-class>Servlet.ksxx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ksxx</servlet-name>
    <url-pattern>/ksxx</url-pattern>
  </servlet-mapping>
  
</web-app>