<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生排班</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="libs/css/amazeui.min.css">
    <link rel="stylesheet" href="libs/css/style.css">
    <link rel="stylesheet" href="libs/css/wap.css">
    <script src="libs/js/vue.min.js"></script>
</head>
<body>

<div class="container">

    <!--分享的图标-->
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='images/icon.png'/>
    </div>

    <div id="app">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumbed pet_hd_list"
                v-for="d in swpb">
                <a class="pet_hd_block" style="padding-left: 18px">
                    <div class="pet_hd_block_title">{{ d.czyxm }}</div>
                </a>
            </li>
        </ul>
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumbed pet_hd_list"
                v-for="d in xwpb">
                <a class="pet_hd_block" style="padding-left: 18px">
                    <div class="pet_hd_block_title">{{ d.czyxm }}</div>
                </a>
            </li>
        </ul>
    </div>

    <!--底部导航-->
    <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
            <li>
                <a href="index.html" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class=" am-icon-comments"></span>
                    <span class="am-navbar-label">微信</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class=" am-icon-map-marker"></span>
                    <span class="am-navbar-label">地图</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="libs/js/jquery.min.js"></script>
<script src="libs/js/amazeui.min.js"></script>
<script src="libs/js/jquery.cookie.js"></script>
<script src="js/arrange.js"></script>

</body>
</html>