<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约挂号</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="libs/css/amazeui.min.css">
    <link rel="stylesheet" href="libs/css/style.css">
    <link rel="stylesheet" href="libs/css/wap.css">
    <script type="text/javascript" src="libs/js/angular.min.js"></script>
</head>
<body>

<div class="container" ng-app="myApp" ng-controller="myCtrl">

    <!--分享的图标-->
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='images/icon.png'/>
    </div>

    <div id="app">
        <div class="my-search-title-panel">
            <p class="my-search-titp-p">确认挂号信息</p>
            <hr data-am-widget="divider" style="" class="am-divider-default am-margin-bottom-sm"/>
            <table class="am-table am-table-bordered am-margin-bottom-xs">
                <tr>
                    <th colspan="2">预约信息</th>
                </tr>
                <tr ng-repeat="tab in tabs">
                    <td width="30%">{{tab[0]}}</td>
                    <td width="70%">{{tab[1]}}</td>
                </tr>
                <tr>
                    <th colspan="2">就诊人信息</th>
                </tr>
                <tr>
                    <td>就诊人</td>
                    <td><select data-am-selected="{dropUp: 1}">
                        <option value="sfzh" ng-repeat="f in friends">{{f.brxm}}</option>
                    </select></td>
                </tr>
            </table>
            <p class="am-text-center">
                <button type="submit" class="am-btn am-btn-primary am-radius am-btn-block">预约挂号</button>
            </p>
        </div>
    </div>

    <!--底部导航-->
    <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
            <li>
                <a href="index.html" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class=" am-icon-comments"></span>
                    <span class="am-navbar-label">微信</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class=" am-icon-map-marker"></span>
                    <span class="am-navbar-label">地图</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="libs/js/jquery.min.js"></script>
<script src="libs/js/amazeui.min.js"></script>
<script src="libs/js/jquery.cookie.js"></script>
<script src="js/fill_order.js"></script>

</body>
</html>